/**override styles for ign base template**/


/**base styles for each new project**/
body {
	background-color: black;
}

/**mixins**/
@mixin typekit(){
	font-family: 'pf_din_text_cond_probold',sans-serif;
	font-style: normal;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}


@font-face {
    font-family: 'pf_din_text_cond_probold';
    src: url('../fonts/ufonts.com_pfdintextcondpro-bold-webfont.eot');
    src: url('../fonts/ufonts.com_pfdintextcondpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ufonts.com_pfdintextcondpro-bold-webfont.woff2') format('woff2'),
         url('../fonts/ufonts.com_pfdintextcondpro-bold-webfont.woff') format('woff'),
         url('../fonts/ufonts.com_pfdintextcondpro-bold-webfont.ttf') format('truetype'),
         url('../fonts/ufonts.com_pfdintextcondpro-bold-webfont.svg#pf_din_text_cond_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**slider**/
.slick-slide img {
	opacity: 0.2;
}

.slick-slide {
	background-color: black;
}

.slick-prev:before, .slick-next:before {
	font-size: 0px;
	display: block;
	background: transparent url(../img/arrows.png) center left no-repeat;
	height: 20px;
	width: 20px;
}

.slick-next:before {
	background: transparent url(../img/arrows.png) center right no-repeat;
}

#signup {
	position: absolute;
	margin-left: 10px;
	margin-top: -110px;
	cursor: pointer;
	width: 120px;
}



.slick-slide.slick-active.slick-center img {
	opacity: 1;
-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
/**end slider**/
/**end mixins**/
.alert-error {
	position: fixed;
	top: 0px;
	display: block;
	z-index: 999;
	margin-top: 60px;
	width: 100%;
	width: 50%;
	margin-left: -25%;
	left: 50%;

	li {
		-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
		-moz-box-shadow:    0px 0px 6px rgba(0, 0, 0, 1);
		box-shadow:         0px 0px 6px rgba(0, 0, 0, 1);
		text-align: center;
	}
}

section a.button, section input.button {
	@include typekit();
	font-size: 34px;
	letter-spacing: 6px;
	padding: 0.7rem 4rem 0.3rem;
	margin: 3% 0px;
}

.stuck {
	position: fixed;
	top: 0px;
	z-index: 999;
}

.aboutthegame {
	p {
		font-family: 'pf_din_text_cond_probold';
		color: white;
		font-size: 14px;
	}

	h2, .flex-video {
		@include typekit();
		font-size: 46px;
		line-height: 0.9;
		margin: 30px 0px 5%;
		color: white;
	}

	.flex-video {
		margin-top: 100px;
	}
}

.results {
	color: white;
	letter-spacing: 2px;
	text-align: center; 
	font-size: 13px;
	margin: 25px 0px;
}

#confirm_modal {
	height: auto;
	min-height: inherit;
	border: none;
	border: 1px solid #252525;
	border-radius: 0px;
	background-color: black;
	padding: 5% 6%;
	width: 53%;

	input {
		background-color: black;
		border: 1px solid white;
		margin-top: 5px;
		color: white;
	}

	.button {
		border: none;
		background: black url(../img/btn_bg.png) top center no-repeat;
		font-family: 'pf_din_text_cond_probold';
		height: 38px;
		width: 215px;
		padding: 0px;
		margin-top: 25px;
	}

	label {
		color: white;
		letter-spacing: 2px;
		font-size: 12px;

		&.checkboxLabel {
			letter-spacing: 0px;
		}
	}

	h2 {
		@include typekit();
		font-size: 28px;
		margin-bottom: 20px;
		color: white;
		text-align: center;
	}

	p {
		font-size: 16px;
		color: white;
		text-align: center;
	}

	.close-reveal-modal {
		color: #252525;
		height: 24px;
		width: 24px;
		border-radius: 50%;
		font-size: 1.5rem;
		line-height: 0.9;
		padding-left: 4px;
	}
}

/**flipping styles**/

.flip-container {
	perspective: 1000;
}

/* flip the pane when hovered */
.flip-container.flip .flipper {
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	display: block;
	height: 370px;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
	background: #14161a url(../img/vote_back-bg.png) center top no-repeat;
	background-size: contain;
	width: 100%;

	p {
		font-family: 'pf_din_text_cond_probold';
		text-align: center;
		color: white;
		font-size: 25px;
		letter-spacing: 2px;
		margin-top: 30%;
		line-height: 32px;
	}

	.button {
		width: 100px;
		margin: auto;
		border-radius: 50px;
		background-color: #323846;
		font-family: 'pf_din_text_cond_probold';
		text-align: center;
		height: auto;
		display: block;
		margin-top: 14px;
		font-size: 24px;
		line-height: 8px;
		padding-top: 22px;
		color: #14161a;

		&:hover {
			background-color: #fff;
			color: #14161a;
		}

	}
}


.thankyou-modal {
	position: absolute;
	background-color: #BCFFBB;
	padding: 20px 20px 2px;
	width: 96%;
	z-index: 9;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	margin-top: 85px;
}

#confirm_modal .thankyou-modal {
	p {
		color: black;
	}
	width: 76%;
	margin-left: 3px;
}

/**end flipping styles**/

header {
	width: 100%;
	background: black url(../img/witcher_header-img.jpg) center 102px no-repeat;
	background-size: 100%;
	padding-bottom: 2%;

	.header_wrapper {
		margin-top: 30px;
	}

	.secondary.nav {
		background-color: #0D0D11;
		background-size: 100%;
		height: 60px;
		width: 100%;

		ul {
			width: 1000px;
			margin: auto;
			display: block;
			list-style: none;

			li {
				width: 25%;
				float: left;
				padding: 0px;
				text-align: center;
				height: 60px;
				background: url(../img/divider.png) left center no-repeat;
				padding-left: 1px;
				overflow: hidden;
				
				&:first-child {
					background: none;
					padding-left: 0px;
				}

				a {
					font-family: 'pf_din_text_cond_probold';
					color: white;
					text-transform: uppercase;
					width: 100%;
					text-align: center;
					letter-spacing: 2px;
					text-shadow: 0px 0px 3px #000;
					padding: 18px;
					display: block;

					&.active {
						background: url(../img/selected_bg-2.jpg) top center no-repeat;
					}
				}
			}
		}
	}

	img.evilLogo {
		display: block;
		margin: auto;
		width: 72%;
		padding-bottom: 0%;
	}

	img.evilText {
		width: 94%;
		margin: 0px 3%;
	}

	.pre-order_wrapper {
		background: transparent url(../img/packshot.png) top center no-repeat;
		background-size: 100%;
		width: 43%;
		padding-bottom: 43%;
		display: block;
		float: right;
		margin-top: 25px;
		cursor: pointer;

		a {
			@include typekit();
			color: white;
			font-size: 38px;
			bottom: 97px;
			position: absolute;
			margin-left: 60px;
			letter-spacing: 0px;
			line-height: 35px;

			span {
				float:right;
				height: 36px;
				width: 36px;
				display: block;
				background: black url(../img/pre-order-icon.jpg) top center no-repeat;
				background-size: 80%;
				margin-left: 10px;
			}
		}
	}

	h1 {
		@include typekit();
		font-size: 54px;
		line-height: 0.9;
	}
}

.main-section {
	min-height: 500px;
	background: black url(../img/vote_bg-texture.jpg) center bottom no-repeat;


	.large-6.large-centered {

		background: black url(../img/witcher_header-img.jpg) center top no-repeat;
		padding: 0px;
		margin: 30px 0px;
		margin-left: auto;
		margin-right: auto;
		-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
		-moz-box-shadow:    0px 0px 6px rgba(0, 0, 0, 1);
		box-shadow:         0px 0px 6px rgba(0, 0, 0, 1);

		a.button {
			@include typekit();
			letter-spacing: 6px;
			color: black;
			display: block;
			background: transparent url(../img/splatter-corner.png) right -120px no-repeat;
			width: 100%; 
		}
	}

	p, a {
		font-family: 'pf_din_text_cond_probold';
	}


	.row {
	
	}

	.large-3 {
		padding-top: 1.86em;

		.blud_wrapper {
			background: #222222 url(../img/speckled_container.jpg) center top no-repeat;
			background-size: cover; 
			overflow: hidden;
			padding: 20px 20px 0px;
			-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
			-moz-box-shadow:    0px 0px 6px rgba(0, 0, 0, 1);
			box-shadow:         0px 0px 6px rgba(0, 0, 0, 1);

			img {
				-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
				-moz-box-shadow:    0px 0px 6px rgba(0, 0, 0, 1);
				box-shadow:         0px 0px 6px rgba(0, 0, 0, 1);
			}
		}

		.voting_panel {
			height: 41px;
			background: black url(../img/vote_btn.png) center top no-repeat;
			color: black;
			position: relative;
			background-size: contain;

			&:hover {
				cursor: pointer;
			}

			p {
				width: 100%;
				text-align: center;
				padding-top: 1%;
				@include typekit();
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 25px;
				color: white;
				text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
			}

			.check {
				height: 22px;
				width: 22px;
				box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
				border-radius: 50%;
				position: absolute;
				background-color: transparent;
				border: 3px solid #fff;
				right: 6%;
				top: 28%;

				&.selected {
					span {
						background-color: white;
						display: block;
						position: absolute;
						height: 8px;
						width: 8px;
						border-radius: 50%;
						margin-left: 4px;
						margin-top: 4px;
						box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
					}
				}
			}
		}
	}
}

.logo_garden {
	img {
		padding: 3% 0px 0%;
		margin: auto;
		display: block;
	}
}

.hashtag {
	display: block;
	margin: 0px auto 25px;
}

/*body.thankyou {
	.comp {
		background: black url(../img/online_jaw_1399631052.png) center top no-repeat;
	}
}*/
[data-abide] .error small.error, [data-abide] .error span.error, [data-abide] span.error, [data-abide] small.error {
	display: block;
	padding: 0.275rem 0.5625rem 0.2625rem;
	margin-top: -1px;
	margin-bottom: 1rem;
	font-size: 0.65rem;
	font-weight: normal;
	font-style: italic;
	background: #f04124;
	color: white;
}

[data-abide] span.error, [data-abide] small.error {
display: none;
}

.comp {
	background: black url(../img/comp_bg.jpg) center top no-repeat;
	min-height: 520px;
	background-size: 100%;

	p, a {
		font-family: $body-font-family;
	}

	.thanksWrapper {
		text-align: center;
	}

	.button {
		font-size: 2.5vw;
	}

	.comp_wrapper {

		.pushDown {
			margin-bottom: 10px; 
		}

		input {
			display: block;
			margin-top: 3px;
			font-family: $body-font-family;
		}

		h2 {
			@include typekit();
			font-size: 33px;
			line-height: 1.1;
			margin: 15% 0px 5%;
		}

		p {
			font-size: 1.2vw;
		}


		form {
			h2 {
				margin: 13% 0px 3%;
			}
		}


		input.button {
			@include typekit();
			font-size: 2.5vw;
			letter-spacing: 3px;
			margin-top: 15px;
		}
	}


	label {
		font-family: 'pf_din_text_cond_probold';
		font-weight: 600;

		&.checkboxLabel {
			font-family: $body-font-family;
			font-size: 12px;

			a {
				font-family: $body-font-family;
				font-weight: 600;
			}
		}
	}


}

p.sml_text {
	font-size: 11px;
	text-align: center;
	margin: 40px 0px;
	color: white;
	padding: 0px 10%;
}

/**end base styles**/

/**game content section**/
#gameContent {
	min-height: 592px;
	background: black url(../img/about_the_game.jpg) center top no-repeat;

	h2 {
		line-height: 1.1;
		font-size: 38px;
	}

	p {
		font-size: 1.1vw;
		font-family: $body-font-family;
		margin-bottom: 40px;
	}

	#slider {
		.slick-prev {
			left: 37px;
		}

		.slick-next {
			right: 37px;
		}
	}
}
/**end game content section**/

.flex-video {
	margin-top: 0px;
	padding-bottom: 32.5%;
	float: left;
	width: 320px;
	-webkit-box-shadow: 0px 0px 10px 5px rgba(183, 162, 161, 0.75);
	-moz-box-shadow:    0px 0px 10px 5px rgba(183, 162, 161, 0.75);
	box-shadow:         0px 0px 10px 5px rgba(183, 162, 161, 0.75);
}

.movie_bar {
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 0.5);
}


// Small screens

@media only screen and (max-width: 40em) {

	#gameContent h2 {
		text-align: center;
		font-size: 34px;
	}

	#gameContent p {
		font-size: 14px;
		text-align: center;
	}

	#gameContent {
		background: black url(../img/about_the_game.jpg) right top no-repeat;
	}

	.sticky-wrapper {
		display: none; 
	}

	.movie_bar {
		width: 140%;
		margin-left: -20%;
	}

	.flex-video {
		margin-top: 0px;
		padding-bottom: 45.5%;
		float: left;
		width: 80%;
		margin: 10%!important;
	}

	.show-for-small-only .evilLogo, .show-for-small-only .pre-order_wrapper {
		width: 100%;
	}

	.show-for-small-only .evilLogo {
		margin-bottom: 30px;
		margin-top: 20px
	}

	.show-for-small-only .pre-order_wrapper {
		padding-bottom: 74%;
		margin-top: 0px
	}


	#share_override.share_btn.sharer-0 .social ul li {
		width: 50px;
	}

	.flipper {
		transition: 0.6s;
		transform-style: preserve-3d;
		display: block;
		height: 570px;
		position: relative;
	}

	/* hide back of pane during swap */
	.front, .back {
		backface-visibility: hidden;

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		img {
			width: 100%
		}
	}

	.main-section .large-3 .voting_panel {
		background-size: cover;

		p {
			padding-top: 2%;
		}
	}


	header {
		background-size: 150%;
		padding-bottom: 1%;
		background-position: center 0px;


		.header_wrapper {
			margin-top: 0px;
		}

		h1 {
			font-size: 40px;
			text-align: center;
			color: white;
		}

		img.evilLogo {
			margin-top: 10px;
			margin-bottom: 145px;
			width: 25%;
		}
	}

	.aboutthegame .flex-video {
		margin-top: 0px;
	}



	nav {
		-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
		box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
	}

	.secondary.nav {
		display: none;
	}

	.main-section .large-3 .voting_panel {
		height: 60px;
	}

	.logo_garden img {
		min-width: 100%;
		margin-left: 0px;
		padding: 8% 5% 0px;
	}

	.comp {
		background-size: cover;

		label {
			color: black;
		}

		.comp_wrapper h2 {
			margin: 7% 0px 2%;
		}

		.comp_wrapper input.button {
			font-size: 34px;
			margin: 20px auto 30px;
		}

		form h2 {
			color: black;
		}

		p {
			display: none;
		}
	}


} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

	.main-section .large-3 .voting_panel .check {
		right: 6%;
		top: 36%;
	}

	header {
		background-size: 120%;
		padding-bottom: 0px;


		h1 {
			font-size: 5.5vw;
		}
	}

	.main-section .large-6.large-centered a.button {
		padding: 0.7rem 0rem 0.3rem;
	}

	.logo_garden {
		img {
			padding: 5%;
			margin: auto;
			display: block;
		}
	}

	.main-section .large-3 .voting_panel {
		height: 60px;
	}




} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


@media only screen and (max-width: 64.063em) { 

	header .secondary.nav ul {
		position: relative;
		left: auto;
		margin-left: auto;
		width: 100%;
		a {
			padding: 18px;
		}
	}

} /* min-width 1025px, large screens */

// Large screens
@media only screen and (min-width: 64.063em) { 

	header .secondary.nav ul {
		position: absolute;
		left: 50%;
		margin-left: -500px;

		a {
			padding: 11px;
		}
	}

} /* min-width 1025px, large screens */
