/*
Syntax error: Undefined variable: "$body-font-family".
        on line 555 of /Users/davidmoores/Projects/Witcher_3/witcher_3-voting/scss/ign_override.scss

550: 	background: black url(../img/comp_bg.jpg) center top no-repeat;
551: 	min-height: 520px;
552: 	background-size: 100%;
553: 
554: 	p, a {
555: 		font-family: $body-font-family;
556: 	}
557: 
558: 	.thanksWrapper {
559: 		text-align: center;
560: 	}

Backtrace:
/Users/davidmoores/Projects/Witcher_3/witcher_3-voting/scss/ign_override.scss:555
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/script/tree/node.rb:50:in `perform'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:366:in `visit_prop'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/root_node.rb:20:in `render'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/engine.rb:274:in `render'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `each'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:462:in `on_file_changed'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:324:in `block in watch'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/davidmoores/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$body-font-family\".\A         on line 555 of /Users/davidmoores/Projects/Witcher_3/witcher_3-voting/scss/ign_override.scss\A \A 550: 	background: black url(../img/comp_bg.jpg) center top no-repeat;\A 551: 	min-height: 520px;\A 552: 	background-size: 100%;\A 553: \A 554: 	p, a {\A 555: 		font-family: $body-font-family;\A 556: 	}\A 557: \A 558: 	.thanksWrapper {\A 559: 		text-align: center;\A 560: 	}"; }
